<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
  <script type="module" src="https://md-block.verou.me/md-block.js"></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <nav class="navbar navbar-inverse navbar-static-top navbar-fixed-top">
    <div class="container-fluid">
      
      <div class="navbar-header brand">
        <span class="navbar-brand" href="#"><span class="brand">bwVisu Wiki<span/></span>
      </div>
     
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"  onclick="history.back()"><i class="fa fa-angle-double-left dm"></i></span><span class="dm"> Go Back</span></a></li>
        <li><a href="/pun/sys/dashboard/"><span class="glyphicon glyphicon-th dm"></span><span class="dm"> Dashboard</span></a></li>
        <li><a href="/logout"><i class="fa fa-sign-out dm"></i><span class="dm"> Log Out</span></a></li>
      </ul>
    </div>
  </nav>
  
  <style>
    .navbar{
      background-color: #c50c29;
      border: 0;
      height: 56px;
    }
    .dm{
      color: white;
      font-size: 16px;
      margin-top: 3px;
    }
    .btncl{
      background-color: #cccccc;
    }
    .brand{
      margin-top: 3px;
      color: white;
      font-size: 20px;
      
    }
  </style>
</head>

<body style="margin-top: 56px;">
<div class="w3-sidebar w3-bar-block w3-light-grey w3-card" style="width:200px">
  <h5 class="w3-bar-item" style="border-bottom: 1px solid #cccccc;">User Doc</h5>
  {% for i  in range(section_num): %}  
    <button class="w3-bar-item w3-button tablink {% if i == 0 %} btncl {% endif %}" onclick="openCity(event, 'd{{i}}')">{{sections[i]}}</button>
  {% endfor %}
</div>

<div style="margin-left:200px">
  {% for i  in range(section_num): %}  
  <div id="d{{i}}" class="w3-container city w3-animate-left" {% if i == 0 %} style="display:block" {% else %} style="display:none" {% endif %}>
    <md-block id="content">
      {{gitwiki[i]}}
    </md-block>
  </div>
  {% endfor %}
</div>

<script>
  function openCity(evt, cityName) {
    var i, x, tablinks;
    x = document.getElementsByClassName("city");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablink");
    for (i = 0; i < x.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" btncl", ""); 
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " btncl";
  }
  </script>
</body>
</html>
